p {
padding: 0 0 1em;
}
.msg_list {
margin: 0px;
padding: 0px;
width: 600px;
}
.msg_head {
padding: 5px 10px;
cursor: pointer;
position: relative;
background-color:#E5E5E5;
margin:1px;
}
.msg_body {
padding: 5px 10px 15px;
background-color:#F4F4F8;
}
.msg_sub_body {
padding: 5px 10px;
background-color:#F4F4F8;
}

.findings_area {
position: center
}

.decision {
left: 30px
}
.secondread {
position: absolute;
left: 152px;
top: 43px;
}
.complete {
position: absolute;
right: 8px;
top: 43px;
}
.review_summary {
text-align: left;
left: 10px;
}

.sums {
}

.revbase {
font-size:14px;
font-weight:bold;
margin-bottom:10px;
}
.counter_group {
left: 90px;
position: relative;
}
.counter1 {
text-align: right;
position: relative;
left: 39px
}
.counter2 {
text-align: right;
position: relative;
left: 25px
}
.counter3 {
text-align: right;
position: relative;
left: 86px
}
.sums1 {
text-align: right;
position: relative;
left: 68px
}
.sums2 {
text-align: right;
position: relative;
left: 87px
}
.sums3 {
text-align: right;
position: relative;
left: 73px
}
.sums4 {
text-align: right;
position: relative;
left: 27px
}

.findarea {
text-align: right;
position: relative;
left: 75px;
}
